body{font:400 140px/1em Amatic SC;text-align:center;padding-top:140px}
.jittery span{animation:jitter 200ms linear infinite;color:#f06d06;display:inline-block}
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} }